.logo-img{
    padding: 10px;
    display: block;
}
.logo-img{
    width: 70px;
}
@media (min-width:960px) {
    .logo-img {
        width: 119px;
    }
}
.widgets{
    display: flex;
    gap:10px;
    


}
.widget-item{
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 3px 5px;
    text-decoration: none;
    color: black;
}
.widget-title{
    font-size: 10px;
    text-decoration: none;
}
.widget-values{
    font-size: 10px;
}
.widget-icon{

}
.widget-val{
    
}